@max-width: 1440px;
@sider-width: 230px;

body {
  background-color: #bdc3c7 !important;
  &.background-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
  }
}
.ant-layout {
  position: relative;
  min-height: 100vh !important;
  max-width: @max-width;
  margin: auto;
  width: 100%;

  .ant-layout-header {
    &:extend(.pv-0);
    padding-left: 8px;
    z-index: 998;
    position: fixed;
    width: 100%;
    max-width: @max-width;
  }
  @media screen and (min-width: 576px) {
    .ant-layout-header {
      padding-left: 32px;
    }
  }
  .ant-layout-content {
    // overflow-y: auto; switch from auto because needed for sticky in profile page
    // was auto to fix thing in hypes detail page, need to recheck
    overflow-y: visible;
  }

  .mobile-header {
    &:extend(.box-shadow);
    &:extend(.bg-white);
    max-width: 100vw;
    min-height: @header-size;
    height: @header-size;
    position: fixed;
    top: 0;
    z-index: 998;
    width: 100%;
  }
  .ant-breadcrumb {
    &-link {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &.ant-layout-has-sider {
    @media screen and (min-width: 993px) {
      .mobile-header {
        max-width: calc(100% - @sider-width);
      }
    }
    @media screen and (min-width: @max-width) {
      .mobile-header {
        max-width: calc(@max-width - @sider-width);
      }
    }
  }
}
// .ant-layout-sider {
//   .ant-layout-sider-zero-width-trigger {
//     position: absolute;
//     top: 0;
//     right: calc(@header-size * -1);
//     height: calc(@header-size - calc(@padding-size * 4));
//     width: calc(@header-size - calc(@padding-size * 4));
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &:extend(.m-2);
//     &:extend(.border-radius-4);
//   }
//   &.ant-layout-sider-collapsed {
//     .ant-layout-sider-zero-width-trigger {
//       right: 0;
//     }
//   }
//   .ant-menu-inline,
//   .ant-menu-sub,
//   .sider-menu {
//     background-color: transparent !important;
//   }
//   .sider-menu {
//     a {
//       color: inherit;
//     }
//     .ant-menu-item,
//     .ant-menu-submenu-title {
//       &:extend(.mh-0);
//       &:extend(.mt-0);
//       &:extend(.mb-1);
//       &:extend(.ph-2);
//       height: unset !important;

//       .ant-col,
//       .ant-row {
//         min-height: 42px;
//       }

//       .ant-typography {
//         white-space: nowrap;
//         overflow: hidden;
//         text-overflow: ellipsis;
//       }
//     }

//     .ant-menu-item-selected {
//       background-color: unset !important;
//       .ant-typography {
//         &:extend(.text-color-primary-purple);
//       }
//       .ant-col {
//         border: solid 1px @primary-purple;
//         border-radius: @padding-size;
//         background-color: transparent;
//       }
//     }

//     .ant-menu-item-selected {
//       &::after {
//         content: unset !important;
//       }
//     }
//   }
//   .username {
//     &:extend(.text-size-16);
//     &:extend(.text-height-24);
//     &:extend(.text-weight-medium);
//     max-width: 120px;
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }

//   .ant-layout-sider-children {
//     position: fixed;
//     width: inherit;
//     height: 100vh;
//     overflow: auto;
//     &:extend(.pb-2);

//     &::-webkit-scrollbar {
//       width: 10px;
//     }
//     /* Track */
//     &::-webkit-scrollbar-track {
//       background: #f1f1f1;
//     }

//     /* Handle */
//     &::-webkit-scrollbar-thumb {
//       background: #d5d5d5;
//     }

//     /* Handle on hover */
//     &::-webkit-scrollbar-thumb:hover {
//       background: #bdbdbd;
//     }
//   }
// }

.full-page {
  min-height: 100vh;
}
.layout-wrapper {
  padding: calc(8 * @padding-size) calc(4 * @padding-size);
}
.layout-inner {
  width: 825px;
  max-width: 100%;
}
.main-container {
  width: 445px;
  max-width: 100%;
}
.side-container {
  width: 350px;
  max-width: 100%;
}

@media (max-width: 1200px) {
  .layout-inner {
    width: 100%;
    padding: 0 calc(@padding-size * 4) !important;
  }
  .main-container,
  .side-container {
    width: 100%;
  }
}

// @media (max-width: 992px) {
//   .ant-layout-sider {
//     position: fixed !important;
//     height: 100vh;
//     z-index: 1000;
//     right: 0px;
//   }
//   .sider-overlay {
//     width: 100vw;
//     background: rgba(0, 0, 0, 0.5);
//     z-index: 999;
//     position: fixed;
//     height: 100vh;
//   }
// }

.menu-selected {
  border: solid 1px @primary-purple;
  border-radius: 8px;
  background-color: @light-blue;
}

.layout-footer-container {
  flex-direction: column;
  align-items: center;
}

@media (min-width: 576px) {
  .layout-footer-container {
    flex-direction: row;
  }
}

.layout-sidebar-icon-container {
  height: 25px;
  max-width: 24px !important;
}

.layout-icon-container {
  min-width: 0 !important;
  svg {
    margin-right: 9px;
    margin-bottom: 1px;
  }
}

.icon-badge-counter {
  .ant-badge-count {
    &:extend(.text-size-10);
    &:extend(.ph--5);
  }
}

.icon-badge-counter-menu {
  .ant-badge-count {
    padding: 3px 5px;
    &:extend(.bg-warning-main);
    &:extend(.text-color-neutral-100);
    &:extend(.text-s-medium);
    height: auto !important;
    border-radius: 20px;
    width: 30px;
    box-shadow: unset !important;
    span {
      height: 15px;
    }
  }
}