.prompt-btn {
  width:90%;
  border-radius: 10px;
  border-color: #d1d1d1 !important;
}

.btn-prompt-img{
  height: 20px;
}

.active-button {
  background-color: #f6f6f6 !important;
}
.prompt-text{
  color: #6d6d6d;
}
@media screen and (max-width: 575px) {
  .prompt-text{
    font-size: 14px;
  } 

.btn-prompt-img{
  height: 12px;
}
.prompt-btn {
  width:96%;
}

}