.promptBtn {
  width:90%;
  border-radius: 10px;
  border-color: #d1d1d1 !important;
}

.btnPromptImg{
  height: 20px !important;
}

.activeButton {
  background-color: #f6f6f6 !important;
}
.promptText{
  color: #6d6d6d;
}
@media screen and (max-width: 575px) {
  .promptText{
    font-size: 14px;
  } 

.btnPromptImg{
  height: 12px;
}
.promptBtn {
  width:96%;
  padding:0;
}

}