.trial-text {
  border: 1px solid #D1D1D1;
  background: #F6F6F6;
  border-radius: 6px;
  color: #4F4F4F;
}

.logo-wrapper {
  vertical-align: middle;
  margin-top: -10px;
}

.logo-inner {
  height: 42px;
}

.header{
  border-bottom: 1px solid #E7E7E7;
}

.side-menu-img-wrap{

}

.side-menu-img{
  width: 40px;
}

.active-side-menu{
  color: #8331ec
}
.inactive-side-menu{
  color: #3B3B3B;
}

.sider-wrap{
  border-right: 1px solid #E7E7E7;
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
}
.sider-wrap-col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Set a height to allow space between */
  padding-top:62px;
}