.trialText {
  border: 1px solid #D1D1D1;
  background: #F6F6F6;
  border-radius: 6px;
  color: #4F4F4F;
}

.logoWrapper {
  vertical-align: middle;
  margin-top: -10px;
}

.logoInner {
  height: 42px !important;
}

.header{
  background-color: white !important;
  border-bottom: 1px solid #E7E7E7;
}


.sideMenuImg{
  width: 40px !important;
}


.siderWrap{
  border-right: 1px solid #E7E7E7;
  min-width: 100px !important;
  max-width: 100px !important;
  width: 100px !important;
  background-color: white !important;
  
}
.siderWrapCol{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Set a height to allow space between */
  padding-top:62px;
}

.burger {
  height: 40px;
}


.burgerWrapper {
  
  vertical-align: middle;
  margin-top: -10px;
}


@media screen and (max-width: 575px) {
  .siderWrap{
    position: absolute;
    left: -100px;
  }
  .siderWrapActive {
    z-index: 2000;
    left:0
  }
.siderWrapCol{
  padding-top: 0;
}
}

.blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}