.trial-text {
  border: 1px solid #D1D1D1;
  background: #F6F6F6;
  font-family: 'Open Sans';
  border-radius: 6px;
  color: #4F4F4F;
}

.logo-wrapper {
  vertical-align: middle;
  margin-top: -10px;
}

.logo-inner {
  height: 42px;
}

.header{
  border-bottom: 1px solid #E7E7E7;
}